@model BattleshipMVC.Models.Player
@{
    ViewBag.Title = "Index";
}

@using(Html.BeginForm("NewGame", "Game", FormMethod.Post))
{
    <div>Podaj swoje imię:</div>
    @Html.TextBoxFor(p => p.Name)
    <input type="submit" value="Graj!"/>
}